<!DOCTYPE html>
<html lang="pl">
    <head>
        <%- include('../../includes/header', { title: "Zarządzanie sklepem" }); %>
    </head>

    <body>
        <%- include('../../includes/nav', { user, cart }); %>

        <div class="container">
            <main class="text-center">
                <h1 class="header-no-margin">Produkty</h1>
                <div class="path"><a href="/">Strona główna</a> <i class="icon-right-dir"></i> <a href="/zarzadzanie-sklepem">Zarządzanie sklepem</a> <i class="icon-right-dir"></i> Produkty</div>

                <a href="/zarzadzanie-sklepem/produkty/dodaj">
                    <button><i class="icon-plus"></i> Dodaj nowy produkt</button>
                </a>

                <article class="product-tiles-container">
                    <%- include('../../includes/tiles-admin', { products, max: null, orders }); %>
                </article>
            </main>
        </div>
    </body> 
</html>