.form-input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px 0;
}

.form-input label {
    display: block;
    min-width: 120px;
    text-align: right;
    margin-right: 10px;
    line-height: 26px;
}

.wider-inputs-1 .form-input label {
    min-width: 150px;
}

input[type="email"], input[type="password"], input[type="text"] {
    border-radius: 5px;
    border: 1px solid #000;
    padding: 6px;
    font-size: 14px;
}

select, input[type="date"] {
    border-radius: 5px;
    border: 1px solid #000;
    padding: 4px;
    font-size: 14px;
}

.order-form {
    width: 50%;
    margin: 0 auto;
}

.order-form input {
    margin: 5px 0;
}

.order-form .x-small-input {
    width: calc(25% - 20px);
}

.order-form .small-input {
    width: calc(50% - 20px);
}

.order-form .big-input {
    width: calc(100% - 20px);
}

.order-form .inputs-row {
    display: flex;
    flex-direction: row;
}

.filters {
    margin-bottom: 1.4rem;
}

.filters label {
    margin-left: 1rem;
}