.list {
    background-color: #aaa;
    width: 60%;
    margin: 5px auto;
    text-align: left;
}

.list > div {
    border-bottom: 2px solid #999;
    padding: 6px;
}

.list .item-title {
    font-size: 18px;
    font-weight: 700;
}

.list .item-property {
    font-size: 16px;
    font-weight: 400;
    padding-left: 6px;
}

.list .smaller-property-padding {
    padding-left: 2px;
}

.list ul {
    list-style-type: none;
    margin: auto 10px;
}

.list ul > li {
    display: inline-block;
    margin: 0 2px;
}

.list .item-image-container {
    width: 68px;
    height: 68px;
}

.list .item-image-container img {
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    margin: auto auto;
}