* {
    --primary-color: #333;
    --secondary-color: #4b3d3d;
    --dark-primary-color: #222;
    --dark-secondary-color: #3a2c2c;
    --dark-2-secondary-color: #291b1b;
    --primary-bg: #ddd;
    --secondary-bg: #fff;
    --dark-bg: #aaa;
    --dark-secondary-bg: #eee;
}

body {
    font-family: 'Atkinson Hyperlegible';
	font-size: 18px;
    margin: 0;
    background-color: var(--primary-bg);
    color: var(--primary-color);
}

a {
    text-decoration: none;
    color: inherit;
}

.text-anchor {
    color: var(--dark-secondary-color);
    text-decoration: underline;
    transition: color ease-in-out 0.3s;
}

.text-anchor:hover {
    color: var(--dark-2-secondary-color);
}

.d-block {
    display: block;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.logo {
    width: 100%;
    padding: 10px 0;
    text-align: center;
}

.product-tiles-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.product-tile-div {
    width: calc(25% - 20px);
    height: auto;
    margin: 10px 10px;
    text-align: center;
    text-decoration: none;
    background-color: var(--secondary-bg);
    border-radius: 10px;
}

.product-tile-div .product-tile {
    width: calc(100% - 10px);
}

.product-tile {
    position: relative;
    display: block;
    width: calc(25% - 20px);
    height: auto;
    margin: 10px 10px;
    text-align: center;
    text-decoration: none;
    background-color: var(--secondary-bg);
    border-radius: 10px;
}

.product-tile .tile-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background-color: #0000;
    transition: background-color ease-in-out .2s;
}

.product-tile:hover .tile-overlay {
    background-color: #0001;
}

@media only screen and (max-width: 700px) {
    .product-tile {
        width: 80%;
        margin: 20px auto;
    }

    .mobile-text-center {
        text-align: center;
    }
}

.product-tile img {
    width: 80%;
    height: auto;
    margin-top: 10px;
}

.product-tile a {
    text-decoration: none;
}

.product-tile p {
    margin: 0;
    font-size: 20px;
    color: var(--primary-color);
}

.product-tile-controls {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.product-tile-controls * {
    margin: 10px 0;
}

.header {
    letter-spacing: 3px;
}

.header-no-margin {
    letter-spacing: 3px;
    margin-bottom: 0;
}

.path {
    margin-bottom: 25px;
}

.text-center {
    text-align: center;
}

.text-primary {
    color: var(--primary-color);
}

.text-secondary {
    color: var(--secondary-color);
}

.text-red {
    color: #f00;
}

.display-none {
    display: none;
}

button {
    background-color: var(--dark-primary-color);
    border: none;
    border-radius: 10px;
    padding: 10px;
    color: #ccc;
    font-size: 18px;
    cursor: pointer;
    transition: background-color, ease-in-out, .2s;
}

button:hover {
    background-color: var(--primary-color);
}

input[type="number"] {
    background-color: var(--dark-primary-color);
    border: none;
    border-radius: 10px;
    padding: 10px;
    color: #ccc;
    font-size: 14px;
}

.row {
    display: flex;
    flex-direction: row;
}

.row-space-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.amount-select {
    padding: 3px 10px;
    border-radius: 10px;
    font-size: 18px;
}