<%- include('popup-overlay'); %>

<footer>
    <p>SZOSA Sklep 2025 &copy; Konrad Nowak</p>
</footer>

<script src="<%= locals.path ? locals.path : '' %>js/popups/popup.js"></script>
<script src="<%= locals.path ? locals.path : '' %>js/utils/errors.js"></script>