<nav class="top-nav">
    <ul>
        <li><a href="/">Strona główna</a></li>
        <li><a href="/przegladaj">Wszystko</a></li>
        <li><a href="/przegladaj?category=rowery">Rowery</a></li>
        <li><a href="/przegladaj?category=akcesoria">Akcesoria</a></li>
        <li><a href="/przegladaj?category=odziez">Odzież</a></li>
        <li><a href="/przegladaj?category=trenazery">Trenażery</a></li>
    </ul>

    <ul class="auth-nav">
        <li><a href="/koszyk"><i class="icon-basket"></i> Koszyk (<%= cart ? cart.reduce((n, {amount}) => n + amount, 0) : 0 %>)</a></li>

        <% if(user) { %>
            <% if(user.admin) { %>
                <li><a href="/zarzadzanie-sklepem">Zarządzanie sklepem</a></li>
            <% } %>
            <li><a href="/moje-konto">Moje konto</a></li>
            <li><a href="javascript:void(0);" id="nav-logout">Wyloguj się</a></li>

            <form id="nav-logout-form" method="post" action="/auth/logout"></form>
            <script>
                document.getElementById('nav-logout').onclick = () => {
                    document.getElementById('nav-logout-form').submit();
                }
            </script>
        <% } else { %>
            <li><a href="/logowanie">Zaloguj się</a></li>
            <li><a href="/rejestracja">Zarejestruj się</a></li>
        <% } %>
    </ul>
</nav>