<div class="popup-overlay" id="popup-overlay">
    <div class="popup" id="popup">
        <span class="popup-close" id="popup-close">&times;</span>
        <div class="popup-content">
            <h3 id="popup-title"></h3>
            <p id="popup-text"></p>
        </div>
    </div>
</div>