<% const amount = Math.min(products.length, max); %>

<% if(products && products.length > 0) { %>
    <% for(let i = 0; i < amount; i++) { %>
        <% const product = products[i]; %>

        <a class="product-tile" href="/product/<%= product.url %>">
            <% if(product.imageUrl) { %>
                <img src="img/<%= product.imageUrl %>" alt="Obraz poglądowy produktu">
            <% } else { %>
                <img src="img/default.jpg" alt="Ikona braku obrazu poglądowego">
            <% } %>

            <p><%= product.name %></p>
            <p><%= (Math.round(product.price * 100) / 100).toFixed(2); %> PLN</p>

            <div class="tile-overlay"></div>
        </a>
    <% } %>
<% } else { %>
    <div><h5>Brak produktów do wyświetlenia!</h5></div>
<% } %>