<!DOCTYPE html>
<html lang="pl">
    <head>
        <%- include('../includes/header', { title: "Zarządzanie sklepem" }); %>
    </head>

    <body>
        <%- include('../includes/nav', { user, cart }); %>

        <div class="container">
            <main class="text-center">
                <h1 class="header-no-margin">Zarządzanie sklepem</h1>
                <div class="path"><a href="/">Strona główna</a> <i class="icon-right-dir"></i> Zarządzanie sklepem</div>

                <a href="/zarzadzanie-sklepem/produkty">
                    <button>Produkty</button>
                </a>

                <a href="/zarzadzanie-sklepem/konta-klientow">
                    <button>Konta klientów</button>
                </a>

                <a href="/zarzadzanie-sklepem/zamowienia">
                    <button>Zamówienia</button>
                </a>
            </main>
        </div>
    </body> 
</html>