<!DOCTYPE html>
<html lang="pl">
    <head>
        <%- include('../includes/header', { title: "Logowanie" }); %>

        <link rel="stylesheet" href="<%= path %>css/form.css">
    </head>

    <body>
        <%- include('../includes/nav', { user: null }); %>

        <div class="container">
            <main class="text-center">
                <h1 class="header">Zaloguj się</h1>

                <form method="post" action="/auth">
                    <div class="form-input">
                        <label for="login">Adres E-mail:</label>
                        <input type="email" name="login" id="login" required>
                    </div>
    
                    <div class="form-input">
                        <label for="password">Hasło:</label>
                        <input type="password" name="password" id="password" required>
                    </div>

                    <button>Zaloguj się</button>
                </form>
            </main>
        </div>
    </body> 
</html>
